.format{
    background: green;
    font-family: 'Times New Roman', Times, serif;
    font-size:large;
    text-align:center;
    align-items:center;
    color:navajowhite;
    width:45%;
    height:45%;
    display: block;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.message{
    text-align:center;
    align-items:center;
    font-size:large;
    font-family:'Times New Roman', Times, serif;
    background-color:purple;
    color:navajowhite;
}
p{
    text-align:center;
    align-items:center;
    font-size:large;
    font-family:'Times New Roman', Times, serif;
    background-color: blue;
    color:navajowhite;
}
input{
    width:55%;
    height:55%;
}
body{
    background:maroon;
    align-content: center;
    text-align:center;
    color:aliceblue;
}